<div class="container">

<div class="add">
<h2 class="addtxt">Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input class="addin" type="text" id="ca" name="name">
  </div>

  <button class="btn addbtn" type="submit">ADD BURGER</button>
</form>
</div>

<div class="undev">
<h1>UNDEVOURED BURGERS</h1>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  	<li>
  	  <p><span class="label">Burger number</span> {{this.id}}</p>
      <p><span class="label"></span> {{this.burger_name}}</p>
      <button class="go-devour btn" data-id="{{this.id}}">DEVOUR</button>
  	</li>
  {{/unless}}
  {{/each}}
</ul>
</div>
<div class="dev">
<h1>DEVOURED BURGERS</h1>
<ul>
  {{#each burgers}}
  {{#if devoured}}
  	<li>
  	  <p><span class="label">Burger number</span> {{this.id}}</p>
      <p><span class="label"></span> {{this.burger_name}}</p>
  	</li>
  {{/if}}
  {{/each}}
</ul>
</div>
</div>

